# Environments and Python cache
__pycache__/
*.py[cod]
*.egg-info/
.env

# Data and models
dataset/
processed_data/
models/
results/
*.npz
*.pt
*.csv

# Jupyter
.ipynb_checkpoints/

# IDEs
.vscode/
.idea/
